.notification {
  width: 100%;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  z-index: 101;
}
.notification h1 {
  color: #000;
}
.success {
  background-color: #55efc4;
}
.loading {
  background-color: transparent;
}
.failed {
  background-color: #eb3b5a;
}
.disappear{
  display: none;
}
