.todoItem {
  padding: 1em;
  margin: auto;
  cursor: pointer;
}

.todoItem .control {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.todoItem .controlTitle {
  min-width: 200px
}
.todoItem .controlDate {
  display: flex;
  align-items: center;
}

.todoItem .controlDate p {
  margin-left: 1em;
}
.controlDate .edit {
  margin-left: 2em;
  color: #4834d4;
  opacity: 0;
  transform: translateX(0);
}
.todoItem:hover .edit {
  animation: edit-animation 0.3s ease-in forwards;
}

@media (max-width:768px){
  .edit {
    display: none;
  }
}

@media (max-width: 480px) {
  .todoItem .control {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
}

@keyframes edit-animation {
  to {
    transform: translateX(-50%);
    opacity: 1;
  }
}
@keyframes delete-animation {
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
