.todo-addform {
  transform: translateY(-25%);
  background-color: transparent;
  box-shadow: none;
  margin: auto;
}

.todo-addform form {
  background-color: #fff;
  padding: 2em;
  border-radius: 10px;
  justify-self: center;
  margin: 0 auto;
}

.todo-addform .control input,
.control textarea {
  border-radius: 10px;
  padding: 1em;
  width: 100%;
}

.todo-addform .control,
.selectDay,
.selectTime {
  white-space: nowrap;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  width: 100%;
}
.selectTime input {
  width: 100%;
}

.timeContainer > *:first-child {
  margin-right: 20px;
}

.todo-addform textarea {
  height: 20vh;
}

.todo-addform label {
  font-weight: bold;
  margin-right: 1em;
  min-width: 100px;
}

.todo-addform button {
  display: block;
  margin: auto;
  background-color: #1e3799;
  color: #fff;
  border: none;
}

.todo-addform button:hover {
  cursor: pointer;
  background-color: #4a69bd;
}

@media (max-width: 1100px) {
  .timeContainer {
    flex-direction: column;
    align-items: flex-start !important;
  }
}

@media (max-width: 768px) {
  .todo-addform .control,
  .todo-addform .selectDay,
  .todo-addform .selectTime {
    flex-direction: column;
    align-items: flex-start;
  }
  .todo-addform label {
    padding-bottom: 0.5rem;
  }
}

@media (max-width: 480px) {
  .todo-addform .control input {
    padding: 0.7rem ;
  }
}
