.todoList {
  margin-top: 5em;
  animation: todoList-appears 1s ease-out forwards;
}
.todoList ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.todoList ul  > * {
  margin-bottom: 2rem;
}

@media (max-width: 1100px) {
  .todoList {
    /* max-width: 60%; */
  }
}

@keyframes todoList-appears {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
